<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-location-dot me-2"></i>Crear un nuevo negocio</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm" (ngSubmit)="crearNegocio()" href="/">

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Codigo del negocio: </label>
                <div class="col-sm-10">
                    <input #nombre="ngModel" class="form-control"
                        [ngClass]="nombre.invalid && nombre.dirty ? 'is-invalid' : ''" type="text" name="nombre"
                        [(ngModel)]="registroNegocioDTO.codigo" required />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Nombre: </label>
                <div class="col-sm-10">
                    <input #nombre="ngModel" class="form-control"
                        [ngClass]="nombre.invalid && nombre.dirty ? 'is-invalid' : ''" type="text" name="nombre"
                        [(ngModel)]="registroNegocioDTO.nombre" required />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Descripción: </label>
                <div class="col-sm-10">
                    <textarea #descripcion="ngModel"
                        [ngClass]="descripcion.invalid && descripcion.dirty ? 'is-invalid' : ''" type="text"
                        [(ngModel)]="registroNegocioDTO.descripcion" name="descripcion" required
                        class="form-control"></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Ubicación: </label>
                <div class="col-sm-10">
                    <div id="mapa"></div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Imágenes: </label>
                <div class="col-sm-10">
                    <input class="form-control" type="file" name="imagenes" (change)="onFileChange($event)" multiple />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Tipo: </label>
                <div class="col-sm-10">
                    <select name="tipo" required class="form-select" [(ngModel)]="registroNegocioDTO.tipoNegocio">
                        <option value="" selected>Seleccione un tipo para el negocio</option>
                        <option *ngFor="let item of tipoNegocio; let i = index" [value]="item">{{ item }}</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Horarios: </label>
                <div class="col-sm-8" *ngFor="let item of registroNegocioDTO.horarios; let i = index">
                    <div class="row mb-2">
                        <div class="col">
                            <input class="form-control" placeholder="Día" type="text" name="dia-{{i}}"
                                [(ngModel)]="item.dia" required />
                        </div>
                        <div class="col">
                            <input class="form-control" placeholder="Hora Inicio" type="text" name="horaInicio-{{i}}"
                                [(ngModel)]="item.horaInicio" required />
                        </div>
                        <div class="col">
                            <input class="form-control" placeholder="Hora Fin" type="text" name="horaFin-{{i}}"
                                [(ngModel)]="item.horaFin" required />
                        </div>
                    </div>
                </div>

                <div class="col-sm-2 text-end">
                    <button type="button" class="btn btn-primary" (click)="agregarHorario()">
                        <i class="fa-solid fa-circle-plus me-1"></i>Agregar horario
                    </button>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Teléfonos: </label>
                <div class="col-sm-10">
                    <div *ngFor="let telefono of registroNegocioDTO.telefonos; let i = index" class="row mb-2">
                        <div class="col">
                            <input class="form-control" placeholder="Teléfono" type="text" name="telefono-{{i}}"
                                [(ngModel)]="registroNegocioDTO.telefonos[i]" />
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-danger" (click)="eliminarTelefono(i)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="agregarTelefono()">
                        <i class="fa-solid fa-circle-plus me-1"></i>Agregar Teléfono
                    </button>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-circle-plus me-1"></i>Crear negocio
            </button>
            <app-alerta [alerta]="alerta"></app-alerta>

        </form>

    </div>
</div>