<div class="container">
    <header class="d-flex flex-wrap justify-content-center header">
        <a href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none Logo">
            UniLocal
        </a>

        <div class="col-auto text-end">
            <nav class="navbar">
                @if (!isLogged) {
                <a routerLink="/login">Login</a>
                <a routerLink="/registro">Registro</a>
                } @else {
                <label class="me-3 mb-2">Hola {{ nombre }}</label>
                <a routerLink="/" (click)="logout()">Salir</a>
                <a routerLink="/gestion-negocios">Gestion negocio</a>
                }
            </nav>
        </div>
    </header>
</div>
<router-outlet></router-outlet>
<footer class="mt-5">
    <p>{{ footer }}</p>
</footer>